<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWtSJRC17dhD9m31NW2dl8uRj_ZKEzTkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>617154543219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.garden1m.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>garden-1m</string>
	<key>STORAGE_BUCKET</key>
	<string>garden-1m.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617154543219:ios:ed440b15bba7cc4d713406</string>
</dict>
</plist>